$ npm login --registry=https://npm.pkg.github.com
> Username: pramodhkumarm97
> Password: d27cbba9-6c08-46be-8772-370c8a8327e1
> Email: pramodhm@devtools.in

registry=https://npm.pkg.github.com/PramodhKumarM
